
body {
    background-color: #DCACAC;
    margin: 0;
}

.main-container {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto 3rem;
    background-color:white;
 
}
@media (max-width: 768px) {
    .main-container {
        width: 100%;
        margin: 0;
    }
}

.main-container img {
    width: 100%;              
    object-fit: cover;   
    display: block;     
}

.header {
    height: 500px;
    background-image: url("images/pannkakorheader.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.recipe-instructions {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.rubrik {
    color: #B53737;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    background-color: #EBEBEB;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1rem;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

ul, ol {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.2rem;
}


.servingimg-container {
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

.servingimg-container img{
    width: 50%;
    height: auto;
    object-fit: cover;
}
@media (max-width: 768px) {
    .main-container img {
        height: 120px; 
    }
}

@media (max-width: 768px) {
    .servingimg-container {
        flex-direction: column;
        margin: 0;
    }

    .servingimg-container img {
        width: 100%;
        height: auto;
    }
}

