
body {
    background-color: #DCACAC;

}

.main-container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    background-color:white;
 
}

.main-container img {
 width: 100%;              
    object-fit: cover;   
    display: block;     
}


.recipe-instructions {
    padding: 4vh;
    display: flex;
    flex-direction: column;
}
.rubrik {
    color: #B53737;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    background-color: #EBEBEB;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1rem;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
}

ol {
    font-family: Arial, Helvetica, sans-serif;
}

.servingimg-container {
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

.servingimg-container img{
    width: 50%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .servingimg-container {
        flex-direction: column;
    }

    .servingimg-container img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .main-container img {
        height: 120px; 
    }
}